<launch>

    <node pkg="gridmap" name="sogm_node" type="sogm_node" output="screen">

        <remap from="/odom" to="/t265/odom/sample"/>
        <remap from="/depth" to="/D455/depth/image_rect_raw"/>

        <param name="/paramfile/path" value="$(find gridmap)/config/sogm_map.yaml" type="string"/>

    </node>

    <node pkg="gridmap" name="global_gridmap_node" type="global_gridmap_node" output="screen" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gridmap)/launch/default.rviz" required="true" />

</launch>
